.section-title {
  display: flex;
  width: 40rem;
  height: 27rem;
  margin: 3rem auto;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #FFFFFF;
}

.section-subtitle {
  display: flex;
  width: 34rem;
  height: 2.5rem;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Red Hat Text', serif;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF

}


.section-title-image {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 20rem;
}

.software-sections{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 10%;
  width: 80%;
  height:12rem;
  border-style: solid;
  border-width: 0.001rem
}

.app {
  display: flex;
  justify-content: space-between;
  width:22rem;
  height:12rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;

}

.dados {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width:22rem;
  height:12rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;

}

.game {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width:22rem;
  height:12rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;

}

.portfolio {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width:22rem;
  height:12rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;

}

.software-menu-item-image {
  display: flex;
  margin-top: 0.05rem;
  margin-left: 0.02rem;
  margin-right: 0.25rem;
  width:9.5rem;
  height:11.9rem;
}


.software-menu-item {
  display: flex;
  width: 12.5rem;
  height: 16rem;
  flex-direction: column;
}

.software-menu-item-text {
 display: flex;
 width: 12rem;
 height:17rem;
 font-family: 'Red Hat Text', serif;
 font-size: 0.9rem;
 color: #FFFFFF;
}

.software-menu-item-link {
  display: flex;
  height:5rem;
  margin-top: 0.5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  color: #FFFFFF;
}


@media(max-width: 49rem) {
  .software-sections{
    flex-direction: column;
    margin-left: 8rem;
    width: 100%;
    margin-top: 0rem;
  }

  .section-title{
    width: 100%;
  }

  .section-title-image{
    width: 100%;
    height: 15rem;
  }

  .section-subtitle{
    margin: 0;
    width: 100%;
  }

  .software-sections{
    margin-left: 0rem;
    width: 100%;
  }

  .software-menu-item{
    height: 10rem;
    width: 100%;
  }

  .software-menu-item-image{
    display: flex;
    margin: 0.01%;
    width:100%;
    height:11.95rem;
  }

  .app{
    width: 100%;
    border-width: 100%;
  }

  .dados{
    width: 100%;
    border-width: 100%;
  }

  .game{
    width: 100%;
    margin-top: 12.6rem;
    border-width: 100%;
  }

  .portfolio{
    width: 100%;
    margin-bottom: 1rem;
    border-width: 100%;
  }
}