.header{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 0.01rem;
  background-color: #1FB6ED;
}

.logo{
  display: flex;
  width: auto;
  height: 4rem; 
  margin-left: 1.5rem;
}

.main-menu{
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  width: 70rem;
  height: 5rem;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  color: #000000;
}

.main-menu-item{
  display: flex;
  justify-content: space-around;
  width: 15rem;
  height: 10rem;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  color: #000000;
}

.link{
  font-size: 1.1rem;
  color: #DAEAED;
  text-decoration: none;
  font-weight: bold;
}

.fundo{
  color: #000000;
}

@media(max-width: 49rem){
  .header{
    width: 64rem;
    height: 8rem;
    margin: auto;
  }
  
  .main-menu{
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  width: 70rem;
  height: 5rem;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  color: #000000;
}

.main-menu-item{
  display: flex;
  justify-content: space-around;
  width: 15rem;
  height: 10rem;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  color: #000000;
}

.link{
  font-size: 1.1rem;
  color: #DAEAED;
  text-decoration: none;
  font-weight: bold;
  .link{
    font-size: 2rem;
  }
}