.proj-header{
  display: flex;
  width: 40rem;
  height: 40rem;
  margin: 1rem auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.proj-title{
  display: flex;
  width: 40rem;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  color: #DAEAED;
}

.proj-subtitle{
  display: flex;
  width: 40rem;
  height: 5rem;
  font-family: 'Roboto Slab', serif;
  color: #DAEAED;
  text-align: center;
}

.proj-title-img{
  display: flex;
  width: 30rem;
  height: 20rem;
  margin-bottom: 5rem;
}



.proj-title{
  display: flex;
  width: 40rem;
  margin: 5rem auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.mat-team{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  width: 30rem;
  height: 10rem;
  font-family: 'Red Hat Text', serif;
  font-size: 1rem;
}

.proj-eq-mat{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
  margin-top: 5rem;
  width:70rem;
  height:12rem;
  font-family: 'Red Hat Text', sans-serif;
  color: #000000;

}

.equipe-box{
  display: grid;
  grid-template-columns: ;
  width:12rem;
  height:8rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;
  background-color: #000000;
}

.equipe-title{
  background-color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  color: #FFFFFF;
}

.equipe-text1, .equipe-text2, .equipe-text3 {
  font-size: 0.9rem;
  font-family: 'Roboto Slab', serif;
  color: #DAEAED;  
}

.equipe-text-father{
  margin-top:-2rem;
}

.material-box{
  display: grid;
  grid-template-columns: ;
  width:12rem;
  height:8rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;
  background-color: #000000;
}

.material-title{
  background-color: #000000;
  font-family: 'Red Hat Text', sans-serif;
  color: #FFFFFF;
}

.material-text1, .material-text2, .material-text3 {
  font-size: 0.9rem;
  font-family: 'Roboto Slab', serif;
  color: #DAEAED;
}

.material-text-father{
  margin-top:-1rem;
}

@media (max-width: 49rem) {

  .proj-header{
    display: flex;
    margin-left: 6rem;
    width: 40rem;
    height: 40rem;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
  }

  .proj-subtitle{
    display: flex;
    margin-left: 6rem;
    width: 40rem;
    height: 3.5rem;
    font-family: 'Roboto Slab', serif;
    color: #DAEAED;
    text-align: center;
  }

  .proj-title-img{
    display: flex;
    margin-left: 6rem;
    width: 30rem;
    height: 20rem;
  }



  .proj-title{
    display: flex;
    width: 40rem;
    margin: 5rem auto;
    margin-left: 3rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    font-size: 1.7rem;
    font-weight: bold;
  }


  .proj-eq-mat{
    display: flex;
    justify-content: space-evenly;
    margin-left: 6rem;
    margin-top: 5rem;
    width:35rem;
    height:12rem;
    font-family: 'Red Hat Text', sans-serif;
    color: #000000;

  }

  .main-menu{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    height: 5rem;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    color: #000000;
  }

  .main-menu-item{
    display: flex;
    justify-content: space-around;
    width: 18rem;
    height: 12rem;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    color: #000000;
  }

}