.header{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: 0 auto;
  border-style: solid;
  border-width: 0.01rem;
  background-color: #1FB6ED;
}

.logo{
  display: flex;
  width: auto;
  height: 4rem; 
  margin-left: 1.5rem;
}

.main-menu{
  display: flex;
  justify-content: space-between;
  width: 80rem;
  height: 5rem;
  align-items: center;
  font-family: 'Roboto Slab', serif;
<<<<<<< HEAD
  color: #000000;
=======
  color: #;
  margin-right: 32.5rem;
>>>>>>> 9d8b26f80286c4a4a0e57a9190f922950fb884e0
}

.main-menu-item{
  display: flex;
  justify-content: space-around;
  width: 15rem;
  height: 10rem;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  color: #000000;
}

.link{
  font-size: 1.1rem;
  color: #DAEAED;
  text-decoration: none;
  font-weight: bold;
}

.fundo{
  color: #000000;
}
/* index */


.index-header{
  display: flex;
  width: 40rem;
  height: 31rem;
  margin: 1rem auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.index-title{
  display: flex;
  width: 40rem;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  color: #DAEAED;
}

.index-subtitle{
  display: flex;
  width: 40rem;
  height: 3.5rem;
  font-family: 'Roboto Slab', serif;
  color: #DAEAED;
}

.index-title-img{
  display: flex;
  width: 30rem;
  height: 20rem;
}

.index-sections{
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  width:70rem;
  height:12rem;
  font-family: 'Red Hat Text', sans-serif;
  color: #000000;

}

.fablab{
  display: flex;
  justify-content: space-between;
  width:20rem;
  height:12rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;
  background: dodgerblue; 
  background-color: #000000;
}

.software{
  display: flex;
  justify-content: space-between;
  width:20rem;
  height:12rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;
  background-color: #000000;
}

.calculo{
  display: flex;
  justify-content: space-between;
  width:20rem;
  height:12rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #1FB6ED;
  background-color: #000000;
}

.sections-menu-item-image{
  display: flex;
  width:12rem;
  height:11.96rem;
  margin-top: 0.06rem;

}

.sections-menu-item{
  display: flex;
  width: 7.5rem;
  height: 10rem;
  flex-direction: column;
}

.sections-menu-item-text{
  display: flex;
  width: 7rem;
  height:5rem;
  font-size: 0.9rem;
  color: #DAEAED;
}

.sections-menu-item-link{
  display: flex;
  width: 2rem;
  height:2rem;
  margin-top: 0.5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  color: #DAEAED;
}



/* categoria */


.section-title {
  display: flex;
  width: 40rem;
  height: 27rem;
  margin: 3rem auto;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  width: 34rem;
  height: 2.5rem;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Red Hat Text', serif;
  font-size: 1rem;
  font-weight: bold;

}

.section-title-image {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 20rem;
}

.software-sections{
  display: flex;
  justify-content: space-between;
  margin: 1% auto;
  width:52%;
  height:12rem;
  border-style: solid;
  border-width: 0.001rem
}

.app {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width:22rem;
  height:12rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #000000;
}

.dados {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width:22rem;
  height:12rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #000000;
}

.game {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width:22rem;
  height:12rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #000000;
}

.portfolio{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width:22rem;
  height:12rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #000000;
}

.software-menu-item-image {
  display: flex;
  margin-top: 0.05rem;
  margin-left: 0.02rem;
  width:9rem;
  height:11.95rem;
}


.software-menu-item {
  display: flex;
  width: 12.5rem;
  height: 16rem;
  flex-direction: column;
}

.software-menu-item-text {
 display: flex;
 width: 12rem;
 height:17rem;
 font-family: 'Red Hat Text', serif;
 font-size: 0.9rem;
 color: #FFFFFF;
}

.software-menu-item-link{
  display: flex;
  height:2rem;
  margin-top: 0.5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  color: #FFFFFF;
}



/* projeto */

.proj-title{
  display: flex;
  width: 40rem;
  margin: 5rem auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.image-desc{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-image{
  margin-right: 10%;
  width: 30rem;
  height: 20rem;
  align-items: flex-start;
}

.desc{
  width: 35rem;
  margin-top:7rem;
  margin-right:35%;
  font-family: 'Red Hat Text', serif;
  font-size: 1rem;
  border-style: solid;
  border-width: 0.01rem;
  background-color: #FFFFFF;
}

.mat-team{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  width: 30rem;
  height: 10rem;
  font-family: 'Red Hat Text', serif;
  font-size: 1rem;
}

.material{
  height: 10rem;
  width: 10rem;
  justify-content: space-evenly;
  margin-top: 0%;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #FFFFFF;
}

.team{
  width: 10rem;
  height: 10rem;
  justify-content: space-around;
  margin-top: 0%;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #FFFFFF;
}

.jogo{
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 28%;
  width: 35rem;
  height: 20rem;
}


@media (max-width: 68rem) {
  .header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 0.0001rem;
    background-color: #FFFFFF;
  }
}

